1: Create a variable with your name and print each character using a loop

In [1]:
my_name="Ali"
for char in my_name:
    print(char)

A
l
i

2: Using slicing to print first 4 character of a string.

In [ ]:
text="Python"
print(text[0:4])

Pyth

3: Ask the user to input a number as a string, convert it into int add 10 and print the result

In [ ]:
num=20
result=num+10
print(result)

30

4: Convrt list of srting number to integer

In [ ]:
str_list=["1","2","3","4","5"]
int_list=['Python']
print(int_list)

['Python']

5: Cheak if python is in a string and print a message.

In [ ]:
sentence ="I am learing python programming"
if "python" in sentence:
  print("Yes! Python is in the string:")

Yes! Python is in the string:

6: Convrt string to uppercase, lowercase and title case.

In [ ]:
my_str="Hello! world,"
print(my_str.upper())
print(my_str.lower())
print(my_str.title())

HELLO! WORLD,
hello! world,
Hello! World,

7: Use type ()befor nd after casting from str to int

In [ ]:
num_str="python"
num_int=(1,2,3)
print(type(num_str))
print(type(num_int))

<class 'str'>
<class 'tuple'>

8: Take user input name and age, cheak if age >18.

In [ ]:
name= ["Ayesha"]
age=[18]
print(name, age)

['Ayesha'] [18]

9: Check if a mixed_case text uppercase.

In [ ]:
mixed_case="Hello! world,"
print(mixed_case.isupper())

False

10: Convrt a numeric string to float an int and show type.

In [ ]:
value=17.13
float_value=float(value)
int_value=int(value)
print(float_value)
print(int_value)
print(type(float_value))
print(type(int_value))

17.13
17
<class 'float'>
<class 'int'>